html {
    overflow-y: scroll;
}

.problem {
    color: #F44336; /* Red 500 */
}

.no-change {
    color: #9E9E9E; /* Gray 500 */
}

tr.selected-row {
    background-color: #E3F2FD; /* Blue 50 */
}

/**
 * Override mui.css
 */

body {
    background-color: #FAFAFA; /* Gray 50 */
}

.mui--appbar-height td, tr {
    padding: 0;
}

.mui-btn--appbar {
    width: 64px;
    height: 64px;
    padding: 12px;
    margin: 0;
}

.mui-btn--appbar > img {
    height: 40px;
    width: 40px;
}

.mui-list--inline {
    margin-bottom: 0;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.panel-side-padding {
    padding-left: 15px;  /* same as mui-panel margin */
    padding-right: 15px;
}

.mui-table {
    border-spacing: 0;
}

.mui-table > tbody > tr:hover {
    background-color: #F5F5F5; /* gray 100 */
}